In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import copy

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb
from xgboost import XGBClassifier
from xgboost import plot_importance

from sklearn import metrics
from sklearn import preprocessing
from sklearn.decomposition import PCA

import os
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
telecome_data=pd.read_csv('telecom_churn_data.csv')

In [11]:
telecome_data.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [14]:
print(telecome_data['total_rech_amt_6'].isnull().sum(),telecome_data['total_rech_amt_7'].isnull().sum(), telecome_data['total_rech_data_6'].isnull().sum(), telecome_data['total_rech_data_7'].isnull().sum())

(0, 0, 74846, 74428)

In [ ]:
#### Imputing missing values

telecome_data['total_rech_data_6'].fillna(0, inplace=True)
telecome_data['total_rech_data_7'].fillna(0, inplace=True)
telecome_data['total_rech_data_8'].fillna(0, inplace=True)
telecome_data['total_rech_data_9'].fillna(0, inplace=True)
telecome_data['av_rech_amt_data_6'].fillna(0, inplace=True)
telecome_data['av_rech_amt_data_7'].fillna(0, inplace=True)
telecome_data['av_rech_amt_data_8'].fillna(0, inplace=True)
telecome_data['av_rech_amt_data_9'].fillna(0, inplace=True)
telecome_data['max_rech_data_6'].fillna(0, inplace=True)
telecome_data['max_rech_data_7'].fillna(0, inplace=True)
telecome_data['max_rech_data_8'].fillna(0, inplace=True)
telecome_data['max_rech_data_9'].fillna(0, inplace=True)


telecome_data['night_pck_user_6'].fillna(-1, inplace=True)
telecome_data['night_pck_user_7'].fillna(-1, inplace=True)
telecome_data['night_pck_user_8'].fillna(-1, inplace=True)
telecome_data['night_pck_user_9'].fillna(-1, inplace=True)
telecome_data['fb_user_6'].fillna(-1, inplace=True)
telecome_data['fb_user_7'].fillna(-1, inplace=True)
telecome_data['fb_user_8'].fillna(-1, inplace=True)
telecome_data['fb_user_9'].fillna(-1, inplace=True)