In [1]:
import pandas as pd
ad = pd.read_csv('advertising.csv')
ad.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [2]:
ad = (ad - ad.mean())/ad.std()
ad.head()

         TV     Radio  Newspaper     Sales
0  0.967425  0.979066   1.774493  1.548168
1 -1.194379  1.080097   0.667903 -0.694304
2 -1.512360  1.524637   1.779084 -0.905135
3  0.051919  1.214806   1.283185  0.858177
4  0.393196 -0.839507   1.278593 -0.215143

In [3]:
# Putting feature variable to X
X = ad[['TV','Radio','Newspaper']]
# Putting response variable to y
y = ad['Sales']

In [5]:
X['intercept'] = 1
X = X.reindex_axis(['intercept','TV','Radio','Newspaper'], axis=1)

/home/abhi/venvs/notebook/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.

In [6]:
X.head()

   intercept        TV     Radio  Newspaper
0          1  0.967425  0.979066   1.774493
1          1 -1.194379  1.080097   0.667903
2          1 -1.512360  1.524637   1.779084
3          1  0.051919  1.214806   1.283185
4          1  0.393196 -0.839507   1.278593

In [7]:
import numpy as np
X = np.array(X)
y = np.array(y)

In [8]:
# Theta needed to be changed with the number of response varaible used.
theta = np.matrix(np.array([0,0,0,0])) 
alpha = 0.01
iterations = 1000

In [9]:
import numpy as np

def compute_cost(X, y, theta):
    return np.sum(np.square(np.matmul(X, theta) - y)) / (2 * len(y))

In [10]:
def gradient_descent_multi(X, y, theta, alpha, iterations):
    theta = np.zeros(X.shape[1])
    m = len(X)
    gdm_df = pd.DataFrame( columns = ['Bets','cost'])

    for i in range(iterations):
        gradient = (1/m) * np.matmul(X.T, np.matmul(X, theta) - y)
        theta = theta - alpha * gradient
        cost = compute_cost(X, y, theta)
        gdm_df.loc[i] = [theta,cost]

    return gdm_df

In [11]:
gradient_descent_multi(X, y, theta, alpha, iterations)

                     Bets    cost
0    [0.0, 0.0, 0.0, 0.0]  0.4975
1    [0.0, 0.0, 0.0, 0.0]  0.4975
2    [0.0, 0.0, 0.0, 0.0]  0.4975
3    [0.0, 0.0, 0.0, 0.0]  0.4975
4    [0.0, 0.0, 0.0, 0.0]  0.4975
5    [0.0, 0.0, 0.0, 0.0]  0.4975
6    [0.0, 0.0, 0.0, 0.0]  0.4975
7    [0.0, 0.0, 0.0, 0.0]  0.4975
8    [0.0, 0.0, 0.0, 0.0]  0.4975
9    [0.0, 0.0, 0.0, 0.0]  0.4975
10   [0.0, 0.0, 0.0, 0.0]  0.4975
11   [0.0, 0.0, 0.0, 0.0]  0.4975
12   [0.0, 0.0, 0.0, 0.0]  0.4975
13   [0.0, 0.0, 0.0, 0.0]  0.4975
14   [0.0, 0.0, 0.0, 0.0]  0.4975
15   [0.0, 0.0, 0.0, 0.0]  0.4975
16   [0.0, 0.0, 0.0, 0.0]  0.4975
17   [0.0, 0.0, 0.0, 0.0]  0.4975
18   [0.0, 0.0, 0.0, 0.0]  0.4975
19   [0.0, 0.0, 0.0, 0.0]  0.4975
20   [0.0, 0.0, 0.0, 0.0]  0.4975
21   [0.0, 0.0, 0.0, 0.0]  0.4975
22   [0.0, 0.0, 0.0, 0.0]  0.4975
23   [0.0, 0.0, 0.0, 0.0]  0.4975
24   [0.0, 0.0, 0.0, 0.0]  0.4975
25   [0.0, 0.0, 0.0, 0.0]  0.4975
26   [0.0, 0.0, 0.0, 0.0]  0.4975
27   [0.0, 0.0, 0.0, 0.0]  0.4975
28   [0.0, 0.0, 0.0, 0.0]  0.4975
29   [0.0, 0.0, 0.0, 0.0]  0.4975
..                    ...     ...
970  [0.0, 0.0, 0.0, 0.0]  0.4975
971  [0.0, 0.0, 0.0, 0.0]  0.4975
972  [0.0, 0.0, 0.0, 0.0]  0.4975
973  [0.0, 0.0, 0.0, 0.0]  0.4975
974  [0.0, 0.0, 0.0, 0.0]  0.4975
975  [0.0, 0.0, 0.0, 0.0]  0.4975
976  [0.0, 0.0, 0.0, 0.0]  0.4975
977  [0.0, 0.0, 0.0, 0.0]  0.4975
978  [0.0, 0.0, 0.0, 0.0]  0.4975
979  [0.0, 0.0, 0.0, 0.0]  0.4975
980  [0.0, 0.0, 0.0, 0.0]  0.4975
981  [0.0, 0.0, 0.0, 0.0]  0.4975
982  [0.0, 0.0, 0.0, 0.0]  0.4975
983  [0.0, 0.0, 0.0, 0.0]  0.4975
984  [0.0, 0.0, 0.0, 0.0]  0.4975
985  [0.0, 0.0, 0.0, 0.0]  0.4975
986  [0.0, 0.0, 0.0, 0.0]  0.4975
987  [0.0, 0.0, 0.0, 0.0]  0.4975
988  [0.0, 0.0, 0.0, 0.0]  0.4975
989  [0.0, 0.0, 0.0, 0.0]  0.4975
990  [0.0, 0.0, 0.0, 0.0]  0.4975
991  [0.0, 0.0, 0.0, 0.0]  0.4975
992  [0.0, 0.0, 0.0, 0.0]  0.4975
993  [0.0, 0.0, 0.0, 0.0]  0.4975
994  [0.0, 0.0, 0.0, 0.0]  0.4975
995  [0.0, 0.0, 0.0, 0.0]  0.4975
996  [0.0, 0.0, 0.0, 0.0]  0.4975
997  [0.0, 0.0, 0.0, 0.0]  0.4975
998  [0.0, 0.0, 0.0, 0.0]  0.4975
999  [0.0, 0.0, 0.0, 0.0]  0.4975

[1000 rows x 2 columns]

In [12]:
print(gradient_descent_multi(X, y, theta, alpha, iterations).values[999])

[array([ 0.,  0.,  0.,  0.]) 0.49750000000000016]

In [13]:
gradient_descent_multi(X, y, theta, alpha, iterations).reset_index().plot.line(x='index', y=['cost'])

In [14]:
# import LinearRegression from sklearn
from sklearn.linear_model import LinearRegression

# Representing LinearRegression as lr(Creating LinearRegression Object)
lr = LinearRegression()

#You don't need to specify an object to save the result because 'lr' will take the results of the fitted model.
lr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
print(lr.intercept_)
print(lr.coef_)

2.66268856917e-16
[ 0.          0.75306591  0.53648155 -0.00433069]